# Entorno y secretos
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
*.egg
.eggs/

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Build
dist/
build/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
